#!/usr/bin/env python
PACKAGE = "ocs2_wbc_ros"
from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("frictionCoeff", double_t, 0, "mu of the ground", 0.5, 0.0, 1)
gen.add("Kp_body_x", double_t, 0, "Kp of base x", 400, 0.0, 20000)
gen.add("Kp_body_y", double_t, 0, "Kp of base y", 400, 0.0, 20000)
gen.add("Kp_body_z", double_t, 0, "Kp of base z", 400, 0.0, 20000)

gen.add("Kd_body_x", double_t, 0, "Kd of base x", 140, 0.0, 20000)
gen.add("Kd_body_y", double_t, 0, "Kd of base y", 140, 0.0, 20000)
gen.add("Kd_body_z", double_t, 0, "Kd of base z", 140, 0.0, 20000)

gen.add("Kp_ori_x", double_t, 0, "Kp of ori base x", 400, 0.0, 20000)
gen.add("Kp_ori_y", double_t, 0, "Kp of ori base y", 400, 0.0, 20000)
gen.add("Kp_ori_z", double_t, 0, "Kp of ori base z", 400, 0.0, 20000)

gen.add("Kd_ori_x", double_t, 0, "Kd of ori base x", 140, 0.0, 20000)
gen.add("Kd_ori_y", double_t, 0, "Kd of ori base y", 140, 0.0, 20000)
gen.add("Kd_ori_z", double_t, 0, "Kd of ori base z", 140, 0.0, 20000)

gen.add("Kp_swing_x", double_t, 0, "Kp of swing leg x", 400, 0.0, 20000)
gen.add("Kp_swing_y", double_t, 0, "Kp of swing leg y", 400, 0.0, 20000)
gen.add("Kp_swing_z", double_t, 0, "Kp of swing leg z", 400, 0.0, 20000)

gen.add("Kd_swing_x", double_t, 0, "Kd of swing leg x", 140, 0.0, 20000)
gen.add("Kd_swing_y", double_t, 0, "Kd of swing leg y", 140, 0.0, 20000)
gen.add("Kd_swing_z", double_t, 0, "Kd of swing leg z", 140, 0.0, 20000)

gen.add("base_linear_task_weight_sqrt", double_t, 0, "base linear    task weight_sqrt", 1, 0.0, 100) # actual weight = weight_sqrt^2
gen.add("base_ori_task_weight_sqrt", double_t, 0, "base ori       task weight_sqrt", 1, 0.0, 1000)
gen.add("leg_tracking_task_weight_sqrt", double_t, 0, "leg  tracking  task weight_sqrt", 1, 0.0, 100)
gen.add("force_tracking_task_weight_sqrt", double_t, 0, "force tracking task weight_sqrt", 0.1, 0.0, 100)





gen.add("kp_base_linear", double_t, 0, "Kp of base linear", 400, 0.0, 20000)
gen.add("kd_base_linear", double_t, 0, "Kd of base linear", 140, 0.0, 20000)

gen.add("kp_base_angular", double_t, 0, "Kp of base angular", 400, 0.0, 500)
gen.add("kd_base_angular", double_t, 0, "Kd of base angular", 140, 0.0, 500)


exit(gen.generate(PACKAGE, "wbcweight", "wbcWeight"))