<?xml version="1.0" ?>

<robot name="JYPro" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Import all Gazebo elements -->
  <!-- <xacro:include filename="$(find JYPro)/urdf/jy.gazebo" /> -->
  <xacro:include filename="$(find JYPro)/urdf/JYPro_body_model.xacro" />
  <xacro:include filename="$(find JYPro)/urdf/JYPro_trans.xacro" />

</robot>
