<launch>
    <arg name="leaping" default="true" />
    <arg name="robot_type" default="spirit" />
    <rosparam command="load" file="$(find global_body_planner)/global_body_planner.yaml" />
    <rosparam command="load" file="$(find local_planner)/local_planner.yaml" />
    <rosparam command="load" file="$(find nmpc_controller)/nmpc_controller.yaml" />
    <rosparam command="load" file="$(find robot_driver)/robot_driver.yaml" />
    <rosparam command="load" file="$(find quad_utils)/config/terrain_map_publisher.yaml" />
    <rosparam command="load" file="$(find quad_utils)/config/grid_map_visualization.yaml" />
    <rosparam command="load" file="$(find quad_utils)/config/remote_heartbeat.yaml" />
    <rosparam command="load" file="$(find quad_utils)/config/teleop_twist_keyboard.yaml" />
    <rosparam command="load" file="$(find quad_utils)/config/rviz_interface.yaml" />
    <rosparam command="load" file="$(find quad_utils)/config/trajectory_publisher.yaml" />
    <rosparam command="load" file="$(find quad_utils)/config/topics_global.yaml" />

    <include file="$(find quad_utils)/launch/load_robot_params.launch">
        <arg name="robot_type" value="$(arg robot_type)"/>
    </include>


    <node name="global_body_planner" pkg="global_body_planner" type="global_body_planner_node" output="screen">
        <remap from="start_state" to="state/ground_truth" />
        <remap from="goal_state" to="clicked_point" />
        <param name="enable_leaping" value="$(arg leaping)" />
    </node>
    <param name="local_planner/use_twist_input" value="false" />
</launch>