<robot name="arm">
    <link name = "base_link">
        <inertial>
            <mass value="1.546877"/>
            <origin xyz="-0.030474 0.000329 0.051723"/>
            <inertia ixx="0.002534" ixy="-0.00011" ixz="0.000201" iyy="0.005867" iyz="-0.000030" izz="0.006539"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="mesh/base.obj" scale="0.001"/>
            </geometry>
        </visual>
        <collision>
            <origin xyz="-0.045 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.206 0.115 0.082"/>
            </geometry>
        </collision>
    </link>

    <link name = "link1">
        <inertial>
            <mass value="1.770103"/>
            <origin xyz="-0.000082 0.000337 0.087753"/>
            <inertia ixx="0.007275" ixy="0.000010" ixz="0.000003" iyy="0.002284" iyz="0.000042" izz="0.006462"/>
        </inertial>
        <visual>
            <geometry>
                <mesh filename="mesh/link1.obj" scale="0.001"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="mesh/link1.obj" scale="0.001"/>
                <origin xyz="0 0 0"/>
            </geometry>
        </collision>
    </link>

    <joint name="joint1" type="revolute">
        <parent link="base"/>
        <child link="link1"/>
        <origin xyz = "0 0 0.0813"/>
        <axis xyz="0.0 0.0 1.0"/>
    </joint>
</robot>