<?xml version="1.0" ?>
<launch>



  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find kinova_gazebo)/worlds/jaco.world"/>
   
    <arg name="paused" default="true"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

  </include>

<param name="robot_description" command="$(find xacro)/xacro --inorder $(find JYPro)/urdf/JYPro.xacro"/>

<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -model JYPro -param robot_description
        -J LF_HAA 0.3
        -J LF_HFE -0.55
        -J LF_KFE 1.29
        -J LH_HAA 0.3
        -J LH_HFE -0.55
        -J LH_KFE 1.29
        -J RF_HAA 0.3
        -J RF_HFE -0.55
        -J RF_KFE 1.29
        -J RH_HAA 0.3
        -J RH_HFE -0.55
        -J RH_KFE 1.29
    "/>

   <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find jy_control_test)/config/controller.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="control_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="JYPro" args="
                                                                            LF_HAA_controller_p
                                                                            LF_HFE_controller_p
                                                                            LF_KFE_controller_p
                                                                            LH_HAA_controller_p
                                                                            LH_HFE_controller_p
                                                                            LH_KFE_controller_p
                                                                            RF_HAA_controller_p
                                                                            RF_HFE_controller_p
                                                                            RF_KFE_controller_p
                                                                            RH_HAA_controller_p
                                                                            RH_HFE_controller_p
                                                                            RH_KFE_controller_p
"/>

  <!-- load Pronto config settings -->

  

  
  <!-- load the jypro description on parameter server -->
  <!-- <include file="$(find JYPro)/launch/load.launch">
    <arg name="simulation" value="false" />
    <arg name="description_name" value="robot_description" />
  </include> -->

    <!-- Joint state publisher -->
  <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" output="screen" respawn="false" >
    <param name="use_gui"           value="false"/>
    <param name="rate"              value="200"/>
    <remap from="robot_description" to="$(arg description_name)"/>
    <remap from="joint_states"      to="$(arg joint_states_topic)"/>
  </node> -->

  <!-- Robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" 	respawn="false" output="screen">

    <remap from="/joint_states"      to="/jy/joint_states"/> 
  </node>





</launch>

