<?xml version="1.0" ?>

<robot name="X20" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Import all Gazebo elements -->
  <!-- <xacro:include filename="$(find X20)/urdf/jy.gazebo" /> -->
  <xacro:include filename="$(find X20)/urdf/X20_model.xacro" />
  <xacro:include filename="$(find X20)/urdf/X20_trans.xacro" />

    <gazebo>
        <plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
            <alwaysOn>true</alwaysOn>
            <updateRate>1000.0</updateRate>
            <bodyName>BASE</bodyName>
            <topicName>ground_truth/state</topicName>
            <gaussianNoise>0</gaussianNoise>
            <frameName>world</frameName>
            <xyzOffsets>0 0 0</xyzOffsets>
            <rpyOffsets>0 0 0</rpyOffsets>
        </plugin>
    </gazebo>
</robot>
