<?xml version="1.0" ?>

<robot name="X20" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Import all Gazebo elements -->
  <!-- <xacro:include filename="$(find X20)/urdf/jy.gazebo" /> -->
  <xacro:include filename="$(find legged_x20_description)/urdf/X20_model.xacro" />
  <xacro:include filename="$(find legged_x20_description)/urdf/X20_trans.xacro" />
  <xacro:include filename="$(find legged_x20_description)/urdf/gazebo_x20/imu.xacro"/>

  <xacro:IMU connected_to="BASE" imu_name="unitree_imu" xyz="0. 0. 0." rpy="0. 0. 0."/>
  <xacro:include filename="$(find legged_x20_description)/urdf/gazebo_x20/gazebo.xacro"/>s
</robot>
