<?xml version="1.0" ?>

<launch>

    <arg name="ompl_planner_ros_parameter_path"
		  default="$(find ompl_global_body_planner)/config/cubic_spline_planner.yaml" />
    <arg name="rviz_config_file"
		  default="$(find ompl_global_body_planner)/rviz/default.rviz" />
	  <arg name="launch_rviz" default="true" />
    <arg name="debug"  default="false" />
    <arg name="multiplot"          default="false"/>
    <arg name="rviz"          default="true"/>

    <arg name="urdfFile" default="$(find X20)/urdf/X20_rsm.urdf"/>
    <arg name="referenceFile"     default="$(find ocs2_legged_robot)/config/command/reference.info"/>
    <arg name="gaitCommandFile"   default="$(find ocs2_legged_robot)/config/command/gait.info"/>
    <!-- The file containing the RaiSim settings -->
    <arg name="raisimFile"        default="$(find ocs2_legged_robot_raisim)/config/raisim.info"/>
    <!-- The path to the resource directory (meshes etc.) -->
    <arg name="resourcePath"          default="$(find X20)/meshes"/>
    <arg name="description_name"   default="legged_robot_description"/>
    <arg name="wbc"                default="true"/>

    <!-- mapping -->
    <node pkg="grid_map_demos" type="filters_demo" name="grid_map_filter_node">
        <!-- Input topic -->
        <param name="input_topic" value="/raisim_heightmap" />
        <!-- Output topic -->
        <param name="output_topic" value="/terrain_map" />
        <!-- Load grid map filter chain configuration -->
        <rosparam command="load" file="$(find ocs2_legged_robot_raisim)/config/filter_chain.yaml" />
    </node>

    <!-- ompl  -->
    <rosparam command="load" file="$(find ompl_global_body_planner)/config/global_body_planner.yaml"/>
    <rosparam command="load" file="$(find global_body_planner)/config/convex_planar_parameters.yaml"/>
    <rosparam command="load" file="$(find global_body_planner)/config/convex_planar_node.yaml"/>
    <rosparam command="load" file="$(find ompl_global_body_planner)/config/x20.yaml"/>
    <param name="/ompl_planner_ros/parameter_path" type="string" value="$(arg ompl_planner_ros_parameter_path)" />
    <param name="urdfFile"    value="$(arg urdfFile)" />

    <node if="$(arg debug)" name="ompl_cubic_spline_planner_node" pkg="ompl_global_body_planner" 
          type="ompl_cubic_spline_planner_node" output="screen" launch-prefix="gnome-terminal -- gdb -ex run --args" />
    <node unless="$(arg debug)" name="ompl_cubic_spline_planner_node" pkg="ompl_global_body_planner" 
          type="ompl_cubic_spline_planner_node" output="screen" launch-prefix="gnome-terminal --"/>

    <node name="se2_planner_rviz" pkg="rviz" type="rviz" args="-d $(arg rviz_config_file)" required="true" if="$(arg launch_rviz)" />

    <param name="referenceFile"  type="string"   value="$(arg referenceFile)" />
    <node name="target_trajectory_publisher" pkg="ompl_global_body_planner" type="targettrajectorypublisher" output="screen"/>

    <!-- kmpc -->
    <arg name="libFolder"   value="$(find ocs2_mobile_manipulator)/auto_generated/arm_x20" />
    <arg name="kMpcTaskFile"    value="$(find ocs2_mobile_manipulator)/config/arm_x20/task_Quadruped.info" />
    <include file="$(find ocs2_mobile_manipulator_ros)/launch/include/legged_robot_kmpc.launch">
        <arg name="rviz"        value="true" />
        <arg name="debug"       value="$(arg debug)" />
        <arg name="urdfFile"    value="$(arg urdfFile)" />
        <arg name="KmpcTaskFile"    value="$(arg kMpcTaskFile)" />
        <arg name="libFolder"   value="$(arg libFolder)" />
        <arg name="gaitCommandFile"   value="$(arg gaitCommandFile)"/>
    </include>
    <include file="$(find convex_plane_decomposition_ros)/launch/quad_sdk_demo.launch"/>

    <!-- dmpc -->
    <arg name="taskFile"          default="$(find ocs2_legged_robot)/config/mpc/task.info"/>

    <param name="taskFile"   value="$(arg taskFile)" />
    <param name="multiplot"   value="$(arg multiplot)" />
    <node pkg="ocs2_legged_robot_ros" type="legged_robot_sqp_mpc" name="legged_robot_sqp_mpc"
          output="screen" launch-prefix=""/>

    <param name="raisimFile"   value="$(arg raisimFile)" />
    <param name="resourcePath"   value="$(arg resourcePath)" />

    <node if="$(arg wbc)" pkg="ocs2_legged_robot_raisim" type="legged_robot_raisim_wbc" name="legged_robot_raisim_wbc"
          output="screen" launch-prefix=""/>

    <node unless="$(arg wbc)" pkg="ocs2_legged_robot_raisim" type="legged_robot_raisim_dummy_kmpc" name="legged_robot_raisim_dummy_kmpc"
          output="screen" launch-prefix="gnome-terminal --"/>

    <node pkg="ocs2_mobile_manipulator_ros" type="mobile_manipulator_visualization" name="mobile_manipulator_visualization"
          output="screen" launch-prefix="gnome-terminal --"/>

    <group if="$(arg rviz)">
      <param name="$(arg description_name)" textfile="$(arg urdfFile)"/>
      <arg name="rvizconfig" default="$(find ocs2_legged_robot_ros)/rviz/legged_robot.rviz" />
      <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rvizconfig)" output="screen" />
    </group>

</launch>