<?xml version="1.0" encoding="utf-8"?>
<robot name="X20" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Transmissions for ros_control -->
  <xacro:macro name="transmission_block" params="joint_name">
    <transmission name="${joint_name}_trans">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint_name}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="${joint_name}_actuator">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <xacro:transmission_block joint_name="LF_HAA"/>
  <xacro:transmission_block joint_name="LF_HFE"/>
  <xacro:transmission_block joint_name="LF_KFE"/>
  <xacro:transmission_block joint_name="RF_HAA"/>
  <xacro:transmission_block joint_name="RF_HFE"/>
  <xacro:transmission_block joint_name="RF_KFE"/>
  <xacro:transmission_block joint_name="LH_HAA"/>
  <xacro:transmission_block joint_name="LH_HFE"/>
  <xacro:transmission_block joint_name="LH_KFE"/>
  <xacro:transmission_block joint_name="RH_HAA"/>
  <xacro:transmission_block joint_name="RH_HFE"/>
  <xacro:transmission_block joint_name="RH_KFE"/>
  
</robot>